services:
  bottrader:
    build:
      context: .
      dockerfile: docker/Dockerfile.bot
    image: bottrader:latest
    container_name: bottrader
    restart: unless-stopped
    environment:
      TZ: "UTC"
      AWS_REGION: "us-west-2"
      AWS_DEFAULT_REGION: "us-west-2"
      AWS_PAGER: ""
      AWS_CLI_PAGER: ""
      LOG_LEVEL: "INFO"
      IS_DOCKER: "true"
      IN_DOCKER: "1"
      SSM_ROOT: "/bottrader/prod"     # <-- REQUIRED
      ROC_5min: "3"
    ports:
      - "5003:5003"
    volumes:
      - ./logs:/app/logs
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "5"

  report-once:
    build:
      context: .
      dockerfile: docker/Dockerfile.report
    image: bottrader-report:latest
    container_name: bottrader-report
    environment:
      TZ: "UTC"
      AWS_REGION: "us-west-2"
      AWS_DEFAULT_REGION: "us-west-2"
      AWS_PAGER: ""
      AWS_CLI_PAGER: ""
      IS_DOCKER: "true"
      IN_DOCKER: "1"
      SSM_ROOT: "/bottrader/prod"     # <-- REQUIRED

    logging:
      driver: "local"
      options:
        max-size: "5m"
        max-file: "3"

