aiodns
aiohttp
aiosignal
aiosqlite
async-timeout
attrs
Bottleneck
ccxt
certifi
cffi
charset-normalizer
cryptography
frozenlist
greenlet
idna
multidict
numexpr
numpy
pandas
pycares
pycparser
python-dateutil
python-dotenv
pytz
requests
six
SQLAlchemy
tabulate
typing_extensions
tzdata
urllib3
yarl
