aiodns                  #ccxt
aiohttp                 #ccxt
aiosignal               #aiohttp
aiosqlite
async-timeout           #aiohttp
asyncpg==0.29.0         #databases
attrs                   #aiohttp
Bottleneck
ccxt
certifi                 #requests
cffi                    #cryptography, pycares
charset-normalizer      #ccxt
coinbase-advanced-py    #requests>=2.31.0, cryptography>=42.0.4, PyJWT>=2.8.0, websockets>=12.0,<14.0, backoff>=2.2.1
coinbase                #equests>=2.5, six>=1.9, pycryptodome>=3.4.11
cryptography            #ccxt
databases               #aiosqlite, asyncpg, databases
dnspython               #requests
frozen-inference
frozenlist              #aiohttp, aiosignal
greenlet                #sqlalchemy
idna                    #requests, yarl
multidict               #aiohttp, yarl
numexpr
numpy                   #bottleneck, numexpr, pandas
pandas
pycares                 #aiodns
pycparser               #cffi
python-dateutil         #pandas
python-dotenv
pytz                    #pandas
requests                #ccxt
six                     #python-dateutil
SQLAlchemy
tabulate
typing_extensions       #aiosqlite, ccxt, sqlalchemy
tzdata                  #pandas
urllib3                 #requests
websockets              #ccxt
yarl                    #aiohttp, ccxt
