version: '3.7'

services:
  sighook:
    build:
      context: ../sighook  # Adjusted relative path for the build context
    env_file:
      - .env_tradebot  # Keeping it as is, since it's in the same directory as the Docker Compose file
    volumes:
      - /home/denfish/BotTrader/data:/data
      - /home/denfish/BotTrader/logs/signal_logs:/logs/signal_logs
    ports:
      - "5001:5001"
    networks:
      - traderbot_network

  webhook:
    build:
      context: ../webhook  # Adjusted relative path for the build context
    env_file:
      - .env_tradebot  # Keeping it as is, since it's in the same directory as the Docker Compose file
    volumes:
      - /home/denfish/BotTrader/data:/data
      - /home/denfish/BotTrader/logs/listener_logs:/logs/listener_logs
      - /home/denfish/BotTrader/logs/flask_logs:/logs/flask_logs
    ports:
      - "5000:5000"
    networks:
      - traderbot_network

networks:
  traderbot_network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "172.24.2.0/29"

