
version: '3.7'

services:
  sighook:
    image: denfish/bot-sighook:2.14 # Use the environment variable
    build:
      context: ../sighook
    env_file:
      - .env_tradebot  # Adjusted path to the .env file
    volumes:
      - /Users/Manny/Library/CloudStorage/Dropbox/Coins/BotTraderv2.0/data:/data
      - /Users/Manny/Library/CloudStorage/Dropbox/Coins/BotTraderv2.0/logs/signal_logs:/logs/signal_logs
    ports:
      - "5001:5001"
    networks:
      traderbot_network:

  webhook:
    image: denfish/bot-webhook:2.14  # Use the environment variable
    build:
      context: ../webhook
    env_file:
      - .env_tradebot  # Adjusted path to the .env file
    volumes:
      - /Users/Manny/Library/CloudStorage/Dropbox/Coins/BotTraderv2.0.0/data:/data
      - /Users/Manny/Library/CloudStorage/Dropbox/Coins/BotTraderv2.0/logs/listener_logs:/logs/listener_logs
      - /Users/Manny/Library/CloudStorage/Dropbox/Coins/BotTraderv2.0/logs/flask_logs:/logs/flask_logs
    ports:
      - "80:80"
    networks:
      traderbot_network:

networks:
  traderbot_network:
      driver: bridge
      ipam:
        driver: default
        config:
          - subnet: "172.24.2.0/29"
